---
import HomePage from "src/templates/HomePage.astro";
import PageSection from "src/components/Layout/Section/PageSection.astro";
import Stack from "src/components/Layout/Stack.astro";
import ContactSection from "src/templates/ContactSection.astro";
import HeroSection from "src/templates/HeroSection.astro";
import HeroImage from "@images/landing/hero-image.jpg";
import Image from "astro/components/Image.astro";
import BriefsSection from "src/templates/BriefsSection.astro";

const title = "About;";
const description = "This is the about page";
const canonicalLink = "/about;";
const icon = "/favicon.svg";

const hero = {
  title: `
    Wymarzony dom
    zaczyna się od wizji
  `,
  subTitle: `
    My zamieniamy Twoją 
    wizję w realny projekt.
  `,
};
const briefs = {
  title: `Prowadzimy Cię przez cały proces projektowy`,
};
---

<HomePage title={title} description={description}>
  <HeroSection class="justify-start pt-24">
    <Stack direction="col" class="whitespace-pre-line">
      <h1 class="text-shadow-lg lg:mr-[25%] text-end">{hero.title}</h1>
      <h2 class="text-shadow-lg lg:ml-[50%]">{hero.subTitle}</h2>
    </Stack>

    <Image
      class={"absolute inset-0 w-svw min-h-svh object-cover mask-alpha mask-b-from-0 -z-10 "}
      src={HeroImage}
      alt={"hero"}
      role={"presentation"}
      loading="eager"
    />
  </HeroSection>

  <BriefsSection />

  <section>
    <h2>Wszechstronne usługi dla Twojej przestrzeni</h2>
  </section>
  <ContactSection />
</HomePage>
