---
import HomePage from "src/templates/HomePage.astro";
import PageSection from "src/components/Layout/Section/PageSection.astro";
import Stack from "src/components/Layout/Stack.astro";
import ContactSection from "src/templates/ContactSection.astro";
import HeroSection from "src/templates/HeroSection.astro";
import HeroImage from "@images/landing/hero-image.jpg";
import Image from "astro/components/Image.astro";
import BriefsSection from "src/templates/BriefsSection.astro";

import Service1 from "@images/services/service-1.webp";
import Service2 from "@images/services/service-2.webp";
import Service3 from "@images/services/service-3.webp";
import ServiceCard, { type Service } from "@components/Cards/ServiceCard.astro";
import { Icon } from "astro-icon/components";

const title = "About;";
const description = "This is the about page";
const canonicalLink = "/about;";
const icon = "/favicon.svg";

const hero = {
  title: `
    Wymarzony dom
    zaczyna się od wizji
  `,
  subTitle: `
    My zamieniamy Twoją 
    wizję w realny projekt.
  `,
};
const briefs = {
  title: `Prowadzimy Cię przez cały proces projektowy`,
};

const services = {
  items: [
    {
      name: `Projekty 
      Domów`,
      image: Service1,
      link: "/uslugi/projekty-domow",
    },
    {
      name: `Przebudowy 
      i Adaptacje`,
      image: Service2,
      link: "/uslugi/przebudowy",
    },
    {
      name: `Projekty 
      Wnętrz`,
      image: Service3,
      link: "/uslugi/projekty-wnetrz",
    },
  ] as Service[],
};
---

<HomePage title={title} description={description}>
  <HeroSection class="justify-start pt-24">
    <Stack direction="col" class="whitespace-pre-line">
      <h1 class="text-shadow-lg lg:mr-[25%] text-end">{hero.title}</h1>
      <h2 class="text-shadow-lg lg:ml-[50%]">{hero.subTitle}</h2>
    </Stack>

    <Image
      class={"absolute inset-0 w-svw min-h-svh object-cover mask-alpha mask-b-from-0 -z-10 "}
      src={HeroImage}
      alt={"hero"}
      role={"presentation"}
      loading="eager"
    />
  </HeroSection>

  <BriefsSection />

  <section class="relative gap-8 lg:gap-16 section">
    <h2 class="text-center">
      Wszechstronne <strong>usługi</strong>
      <br />
      dla <strong> Twojej </strong> przestrzeni
    </h2>

    <div class="justify-around gap-4 overflow-y-hidden carousel">
      {services.items.map((service) => <ServiceCard service={service} />)}
    </div>

    <a href="/uslugi" class="self-center">
      <span class="btn btn-primary btn-xl">
        <span class="join-item">Sprawdź nasze usługi </span>
        <Icon class="join-item" name={"mdi:launch"} />
      </span>
    </a>
  </section>

  <ContactSection />
  <ContactSection />
  <ContactSection />
  <ContactSection />
</HomePage>
